<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/">Lista</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/nuevo">Nuevo</a>
        </li>
    </ul>
</nav>
<div class="container">
    <h3 class="text-center">Detalle del Producto</h3>
    <br>
    <div class="w-100">
        <p><b>Nombre: </b>{{nombre}}</p>
        <p><b>Precio: </b>{{precio}}</p>
    </div>
</div>
